# Este arquivo lista todas as variáveis de ambiente necessárias para rodar o projeto.
# Usuários e colaboradores DEVEM criar uma cópia deste arquivo chamada .env e preencher
# com as suas próprias credenciais.

# Configuração do Banco de Dados Postgres/Supabase
DATABASE_URL=

SUPABASE_URL=

SUPABASE_ANON_KEY=

PORT=8081