/* 
   Variáveis de Cores
 */
:root {
    --color-background:#333333 ;   /* Cor de fundo geral do site */
    --color-secondary-text: #fff;
    --color-text: #252525 ;         /* Cor do texto comum */
    --color-title: #161616;        /* Cor dos títulos (h1, h2...) */
    --color-main: #004AAD;
    --color-section: rgb(245, 245, 245);      /* Cor de fundo das seções (main, etc) */
  }
  
  /* 
     Reset & Base
   */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
  }
  
  /* 
     Header
   */
  header {
    padding: 10px 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .btn-cadastro {
    background-color: var(--color-main);
    padding: 6px 18px;
    border-radius: 5px;
    color: var(--color-secondary-text);
  }

  .btn-cadastro:hover {
    background-color: #003983;
    transition: .5s;
  }

  .btn-login {
    border: 1px solid var(--color-main);
    color: var(--color-main);
    padding: 6px 18px;
    border-radius: 5px;
  }

  #logo {
    width: 75px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    color: var(--color-main);
    text-decoration: none;
    font-size: 22px;
    gap: 5px;
  }

  nav a {
    color: var(--color-main);
    text-decoration: none;
  }
  
  #btn-hd :hover{
    color: var(--color-main);
    color:#004AAD;
    transition: .5s;
  }
  
  nav a :hover{
    color: var(--color-main);
    text-decoration: none;
    background-color: black;
    color: #fff;
  }
  /* 
     Main Content
   */
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 0 20vh;
    
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 25px;
  }

  #ilustracao {
    width: 700px;
  }

  h2 {
    color: var(--color-main);
    font-size: 64px;
  }

  p {
    font-size: 24px;
    color: #424242;
  }

  button {
    width: 150px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--color-main);
    transition: .5s ease-in-out;
  }

  button:hover {
    background-color: #fff;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    cursor: pointer;
    border-radius: 0;
  }

  .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .image-card {
    width: 296px;
    height: 296px;
    background-color: #bbbbbb;
    border-radius: 5px;
  
  }

  .card {
    width: 296px;
    align-items: center;
  }

  .card > p {
    font-size: 16px;
  }

  /* 
     Footer
   */
  footer {
    background-color: var(--color-main); /* Pode substituir por variável */
    color: var(--color-secondary-text);
    text-align: center;
    padding: 15px;
  }

  .footer-text {
    color: #fff;
    font-size: 16px;
  }
  
